@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root{
    box-sizing: border-box;
    font-family: "Space Grotesk";
    font-size: 18px;
    font-weight: 500;

}

*{
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

body{
    min-width: 1440px;
    max-width: 1440px;
    width: 100vw;
    height: 100vh;
    display: flex;
}

.left{
    width: 40%;
    background: url("images/bg-main-desktop.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.card{
    width: 60%;
    height: 20%;
    border-radius: 15px;
    padding: 10px 20px;
    min-height: 150px;
}
.first{
    position: absolute;
    top: 200px;
    right: -50px;
    background: url("images/bg-card-front.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    text-transform: uppercase;
}
#card-logo{
    width: 60px;
}

.lower-card{
    display: flex;
    justify-content: space-between;
}
.second{
    position: absolute;
    right: -150px;
    background: url("images/bg-card-back.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    top: 400px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#CVC{
    margin-right: 10%;
}
.right{
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#bottom{
    width: 60%;
    height: 100%;
}
.goodbye{
    height: 100%;
    text-align: center;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.form{
    display: flex;
    flex-direction: column;
    width: 50%;
    text-transform: uppercase;
}
input:not(#a3, #a4){
    width: 99%;
    display: flex;
    min-height: 40px;
    text-align: left;
    padding-left: 10px;
}

input{
    border-radius: 8px;
}

#exp-date{
    width: 50%;
}

#expo{
    display: flex;
    gap: 5%;
}
#a3, #a4{
    display: flex;
    min-height: 40px;
    text-align: left;
    padding-left: 10px;
    width: 50%;
    border: 1px solid black;
}

.double{
    display: flex;
    width: 100%;
    gap: 10%;
}

#user-cvc{
    width: 50%;
}

.none{
    display: none;
}

button{
    margin-top: 20px;
    height: 50px;
    font-family: "Space Grotesk";
    border: none;
    border-radius: 8px;
    background-color: hsl(278, 68%, 11%);
    color: white;
    width: 100%;
}

.alert{
    color: red;
    text-transform: capitalize;
    font-size: 15px;
}

@media only screen and (max-width: 400px){
    body{
        height: 700px;
         max-width: 400px;
         width: 400px;
         min-width: 300px;
         flex-direction: column;
         min-height: 700px;
    }
    .left{
        width: 100%;
        height: 40%;
        background: url("images/bg-main-mobile.png");
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .card{
        width: 80%;
        height: 40%;
    }
    .second{
        top: 90px;
        left: 70px;
        z-index: 0;
    }
    .first{
        z-index: 1;
        top: 180px;
        left: 30px;
    }
    .right{
        width: 100%;
    }
    .form{
        position: relative;
        width: 80%;
        top: 120px;
        margin-bottom: 30px;
    }
    #bottom{
        margin-top: 30%;
        width: 100%;
    }
}